In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
sc = spark.sparkContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as f
from pyspark.sql.column import *
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))
spark = SparkSession.builder.appName('sparkdf').getOrCreate()
def create_session():
    spk = SparkSession.builder \
        .master("local") \
        .appName("Filter_values.com") \
        .getOrCreate()
    return spk
spark = SparkSession.builder.appName('Joins').getOrCreate()

22/06/03 10:01:43 WARN Utils: Your hostname, MacBook-Air-de-Mayara.local resolves to a loopback address: 127.0.0.1; using 9.7.50.57 instead (on interface en0)
22/06/03 10:01:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/mayaraevillyn/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/03 10:01:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Abrindo o arquivo de vendas no formato parquet
vendas = spark.read.load ("/Users/mayaraevillyn/Downloads/download/Atividades/Vendas.parquet")
vendas.show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [3]:
# Abrindo o arquivo de clientes também no formato parquet
clientes = spark.read.load("/Users/mayaraevillyn/Downloads/download/Atividades/Clientes.parquet")
clientes.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [19]:
# Vendo o tipo de arquivo é a variável clientes
type (clientes)

pyspark.sql.dataframe.DataFrame

In [20]:
# Visualizando via select as colunas "Clientes", "Estado" e "Status"
parte1 = clientes.select("Cliente","Estado","Status")
parte1.show()

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
|       Albino Canela|    AC|  Silver|
|     Alceste Varanda|    RR|  Silver|
|  Alcides Carvalhais|    RO|  Silver|
|        Aldo Martins|    GO|  Silver|
|   Alexandra Tabares|    MG|  Silver|
|      Alfredo Cotrim|    SC|  Silver|
|     Almeno Figueira|    SC|  Silver|
|      Alvito Peralta|    AM|  Silver|
|     Amadeu Martinho|    RN|  Silver|
|      Amélia Estévez|    PE|  Silver|
+--------------------+------+--------+
only showing top 20 rows

In [22]:
# Filtrando por estado os clientes platinum e gold
parte2 = clientes.select("Estado","Status").where(clientes.Status != "Silver")
parte2.show()

+------+--------+
|Estado|  Status|
+------+--------+
|    RO|Platinum|
|    RN|    Gold|
|    RS|    Gold|
|    SP|    Gold|
|    AM|    Gold|
|    TO|    Gold|
|    PR|    Gold|
|    AM|    Gold|
|    CE|Platinum|
|    PE|    Gold|
|    RR|Platinum|
|    BA|    Gold|
|    GO|Platinum|
+------+--------+

In [7]:
df_left = vendas

In [8]:
df_right = clientes

In [9]:
# Fiz um join para juntar as duas tabelas pelo o ClienteID
tabcompleta = df_left.join(df_right, on=['ClienteID'], how='Inner').orderBy('ClienteID')
tabcompleta.show()

+---------+--------+----------+----------+--------+--------------------+------+------+------+
|ClienteID|VendasID|VendedorID|      Data|   Total|             Cliente|Estado|Genero|Status|
+---------+--------+----------+----------+--------+--------------------+------+------+------+
|        1|     382|         7|13/12/2019| 9379.44|Adelina Buenaventura|    RJ|     M|Silver|
|        2|     254|         3| 22/8/2020| 5782.68|        Adelino Gago|    RJ|     M|Silver|
|        3|     336|         5| 7/11/2020| 10658.9|     Adolfo Patrício|    PE|     M|Silver|
|        5|     292|         7| 29/9/2020|13543.56|       Adélio Lisboa|    SE|     M|Silver|
|        5|     374|         1| 5/12/2019|17096.16|       Adélio Lisboa|    SE|     M|Silver|
|        5|     355|         5|23/11/2019|27016.24|       Adélio Lisboa|    SE|     M|Silver|
|        8|     378|         8|10/12/2018|   155.0|   Alarico Quinterno|    AC|     M|Silver|
|       14|     316|        10|25/10/2019|  253.58|        Aldo Martins|    GO|     M|Silver|
|       14|     258|         8| 26/8/2018|  7360.8|        Aldo Martins|    GO|     M|Silver|
|       15|     147|         4|  8/5/2018|  9321.8|   Alexandra Tabares|    MG|     F|Silver|
|       15|     136|        10| 29/4/2020|10384.85|   Alexandra Tabares|    MG|     F|Silver|
|       15|     154|         3| 14/5/2018| 7990.05|   Alexandra Tabares|    MG|     F|Silver|
|       16|      91|         4| 15/3/2019|  103.28|      Alfredo Cotrim|    SC|     M|Silver|
|       16|     149|         5|  9/5/2018|  291.55|      Alfredo Cotrim|    SC|     M|Silver|
|       17|     351|        10|21/11/2020|   103.5|     Almeno Figueira|    SC|     M|Silver|
|       19|     312|         2|22/10/2019|  2656.1|     Amadeu Martinho|    RN|     M|Silver|
|       21|     331|         1| 2/11/2018|12075.85|           Ana Homem|    RN|     F|Silver|
|       24|     313|        10|22/10/2019| 2618.85|   Anacleto Guterres|    PI|     M|Silver|
|       27|      66|         8| 21/2/2019|  3886.5|           Anna Beça|    AP|     F|Silver|
|       27|      96|        10| 19/3/2019|17165.79|           Anna Beça|    AP|     F|Silver|
+---------+--------+----------+----------+--------+--------------------+------+------+------+
only showing top 20 rows

In [10]:
# Após a junção, separei por status a somatória de vendas
parte3 = tabcompleta.groupBy("Status").agg(f.count("VendasID").alias("qtdd_vendas")).orderBy(f.col("qtdd_vendas").asc())
parte3.show()

+--------+-----------+
|  Status|qtdd_vendas|
+--------+-----------+
|Platinum|          2|
|    Gold|          3|
|  Silver|        395|
+--------+-----------+

In [22]:
# Total de cada ClienteID
parte4 = tabcompleta.groupBy("ClienteID").agg(f.count("VendasID")).orderBy(["ClienteID"], ascending = True)
parte4.show()

+---------+---------------+
|ClienteID|count(VendasID)|
+---------+---------------+
|        1|              1|
|        2|              1|
|        3|              1|
|        5|              3|
|        8|              1|
|       14|              2|
|       15|              3|
|       16|              2|
|       17|              1|
|       19|              1|
|       21|              1|
|       24|              1|
|       27|              4|
|       30|              2|
|       31|             83|
|       32|              3|
|       33|              2|
|       35|              2|
|       36|              2|
|       39|              1|
+---------+---------------+
only showing top 20 rows

In [23]:
# Total de cada VendedorID
parte5 = tabcompleta.groupBy("VendedorID").agg(f.count("VendasID")).orderBy(["VendedorID"], ascending = True)
parte5.show()

+----------+---------------+
|VendedorID|count(VendasID)|
+----------+---------------+
|         1|             28|
|         2|             36|
|         3|             37|
|         4|             27|
|         5|             78|
|         6|             27|
|         7|             58|
|         8|             22|
|         9|             33|
|        10|             54|
+----------+---------------+

In [72]:
# data que menos vendeu
parte6 = tabcompleta.groupBy("Data").agg(sum("VendasID")).orderBy(["sum(VendasID)"], ascending = True)
parte6.show()

+---------+-------------+
|     Data|sum(VendasID)|
+---------+-------------+
| 1/1/2019|            1|
| 1/1/2020|            2|
| 2/1/2020|            3|
| 2/1/2019|            4|
| 3/1/2018|            5|
| 4/1/2020|            6|
| 8/1/2019|           11|
| 9/1/2018|           12|
|10/1/2019|           13|
|12/1/2020|           14|
|12/1/2018|           15|
| 6/1/2019|           15|
|13/1/2020|           16|
|13/1/2019|           17|
| 6/1/2020|           19|
|15/1/2018|           20|
|17/1/2019|           21|
|17/1/2020|           22|
|17/1/2018|           23|
|18/1/2019|           24|
+---------+-------------+
only showing top 20 rows

In [26]:
# data que mais vendeu
parte7 = tabcompleta.groupBy("Data").agg(f.count("VendasID").alias("Quantidade_vendas_data")).orderBy(["Quantidade_vendas_data"], ascending = False)
parte7.show()

+----------+----------------------+
|      Data|Quantidade_vendas_data|
+----------+----------------------+
|  4/3/2019|                     4|
| 27/2/2019|                     3|
| 14/5/2018|                     3|
|25/10/2019|                     2|
| 22/8/2020|                     2|
|  6/7/2019|                     2|
|22/10/2019|                     2|
| 15/6/2020|                     2|
| 27/1/2020|                     2|
|  5/9/2019|                     2|
|  6/1/2019|                     2|
| 21/1/2018|                     2|
| 29/4/2019|                     2|
| 17/6/2020|                     2|
| 11/2/2018|                     2|
| 2/11/2019|                     2|
| 19/5/2018|                     2|
| 24/1/2020|                     2|
| 16/8/2019|                     2|
|16/11/2018|                     2|
+----------+----------------------+
only showing top 20 rows

In [75]:
# Total em cada estado
parte8 = tabcompleta.groupBy("Estado").agg(sum("VendasID")).orderBy(["sum(vendasID)"], ascending = True)
parte8.show()

+------+-------------+
|Estado|sum(VendasID)|
+------+-------------+
|    AL|          341|
|    CE|          582|
|    PB|          640|
|    PE|          679|
|    PR|          697|
|    GO|          830|
|    RO|         1022|
|    TO|         1247|
|    AM|         1439|
|    MT|         1528|
|    SP|         1600|
|    RN|         1927|
|    MS|         1995|
|    RR|         2110|
|    AP|         2254|
|    AC|         2431|
|    RS|         2600|
|    MA|         2872|
|    SC|         2878|
|    RJ|         2899|
+------+-------------+
only showing top 20 rows

In [76]:
# Valor máximo no total
parte9 = tabcompleta.select("Total").orderBy(["Total"], ascending = False)
parte9.show()

+--------+
|   Total|
+--------+
| 32495.4|
|29307.48|
| 29180.4|
| 28660.3|
|27016.24|
|26852.87|
|26096.66|
|25146.85|
| 22751.4|
|22711.68|
|21471.75|
| 21357.0|
|21155.46|
|20935.38|
|20613.18|
|20543.44|
|20345.23|
|20338.43|
|20082.85|
| 19966.6|
+--------+
only showing top 20 rows

In [77]:
# Valor mínimo no total
parte10 = tabcompleta.select("Total").orderBy(["Total"], ascending = True)
parte10.show()

+------+
| Total|
+------+
|  91.8|
|  92.0|
|  97.2|
| 97.75|
| 97.75|
|103.28|
|103.28|
| 103.5|
| 103.5|
| 105.4|
|114.75|
| 115.0|
| 115.0|
| 115.0|
|115.06|
| 121.5|
| 121.5|
|127.84|
|131.75|
|131.75|
+------+
only showing top 20 rows

In [21]:
# Valor médio no total
parte11 = tabcompleta.groupBy("VendedorID").agg(avg("Total").alias("Média_vendedor")).orderBy(f.col("Média_vendedor").desc())
parte11.show()

+----------+-----------------+
|VendedorID|   Média_vendedor|
+----------+-----------------+
|         4|9293.265185185186|
|         5|8883.203461538464|
|         9| 8337.07909090909|
|         2|8188.474999999999|
|         7|7502.186551724138|
|         3|7120.183783783785|
|         6| 6959.87962962963|
|        10| 6849.74648148148|
|         1|5958.993214285714|
|         8|5328.068181818182|
+----------+-----------------+

In [79]:
# Vendedor que mais vendeu
parte12 = tabcompleta.groupBy("VendedorID").agg(sum("VendasID")).orderBy(f.col("sum(VendasID)").desc())
parte12.show()

+----------+-------------+
|VendedorID|sum(VendasID)|
+----------+-------------+
|         5|        16576|
|         7|        11861|
|        10|        11357|
|         3|         7658|
|         9|         7060|
|         1|         5754|
|         6|         5723|
|         2|         5238|
|         8|         4893|
|         4|         4080|
+----------+-------------+

In [80]:
# Vendedor que menos vendeu
parte13 = tabcompleta.groupBy("VendedorID").agg(sum("VendasID")).orderBy(f.col("sum(VendasID)").asc())
parte13.show()

+----------+-------------+
|VendedorID|sum(VendasID)|
+----------+-------------+
|         4|         4080|
|         8|         4893|
|         2|         5238|
|         6|         5723|
|         1|         5754|
|         9|         7060|
|         3|         7658|
|        10|        11357|
|         7|        11861|
|         5|        16576|
+----------+-------------+

In [82]:
# Qual gênero mais comprou
parte14 = tabcompleta.groupBy("Genero").agg(sum("VendasID")).orderBy(f.col("sum(VendasID)").desc())
parte14.show()

+------+-------------+
|Genero|sum(VendasID)|
+------+-------------+
|     M|        44336|
|     F|        35864|
+------+-------------+